
#list{
 max-width: 40%;
 margin: 0 auto;
 margin-top: 5%;
}

.list-item{
  margin-top: 4px;
  margin-bottom: 4px;
  border: 2px solid   #800080;
  border-radius: 5px;
  padding: 2px;
}

#mail, #listMail{
  visibility: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 2px solid   #800080;
  border-radius: 5px;
  padding: 2px;
  padding: 10px;
}

#clickMail{
  cursor: pointer;
}

#showMail, #title{
   font-weight: 700;
}


