#large-black-text{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px
}

#black-italic-paragraph-text-1,
#black-italic-paragraph-text-2{
  font-style: italic;
  margin-bottom: 10px;
  color: #000000
}
#blue-hider-link-thing{
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer
}
#list{
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px
}
.list-item{
  text-indent:10px
}

.high-lighted-black-text{
  font-weight: 700;
  color: #0000FF;
  display: inline
}

#note{
  color: aqua;
  background: #0000FF;
  padding: 10px
}
